.root-109 {
  font-family:
    "Segoe UI",
    "Segoe UI Web (West European)",
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 400;
  box-shadow: none;
  box-sizing: border-box;
  position: relative;
  color: rgb(0 120 212);
  white-space: nowrap;
  background-color: lightblue !important;
}
