
.footer {
    margin-top: auto;
    // margin-left: -36px;
    // margin-right: -36px;
    // margin-bottom: -40px;
    padding: 12px 24px;
    border-top: 1px solid #E9ECEF;
    background-color: $primary;
    color: $white;
    &-content {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        &-date {
            font-size: 0.875rem;
            font-weight: 600;
        }
        &-description {
            font-size: 0.8125rem;
            line-height: 1.4;
            p {
                margin-bottom: 0.5rem;                
                &:last-child {
                    margin-bottom: 0;
                }
            }
            ul, ol {
                padding-left: 1.25rem;
                margin-bottom: 0.5rem;
            }
        }
    }
}
