
// Colors
$white: #FFFFFF;

$light-blue: #0466C8;
$dark-blue: #023364;
$extra-blue: #081535;
$orange: #FF7043;
$orange-30: #FFD4C7;
$green: #80ED99;

$primary: $dark-blue;
$success: #1F6F31;
$warning: #B05617;
$danger: #B71B1B;
